main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 50px;
}

.board-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.board-block {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid gray;
    width: 80px;
    height: 80px;
}

.timer {
    font-size: 100px;
    font-weight: bold;
    padding: 50px;
    padding-bottom: 100px;
}
