header {
    margin: 10px;
    border-bottom: 4px solid #ededef;
    padding-bottom: 10px;
}

.info-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-bar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-bar-menu img {
    width: 60px;
}

.info-bar-interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-bar-interface img {
    width: 35px;
    margin-right: 10px;
}

.title {
    padding-left: 55px;
    font-weight: bold;
    font-size: 100px;
}
