main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 50px;
}

.board-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.board-block {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid gray;
    width: 80px;
    height: 80px;
    transition: all 1s ease-in-out;
}

.board-block.pop {
    animation: pop 2s ease;
}

.timer {
    font-size: 100px;
    font-weight: bold;
    padding: 50px;
    padding-bottom: 100px;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
